<section id="project-page" class="view--wrapper">
  <h1>{{model.title}}</h1>
  <p>{{model.description}}</p>
  <ul>

  {{#if model.url}}
    <li>
      <a href="{{model.url}}" target="_blank">{{model.title}} Website</a>
    </li>
  {{/if}}

  {{#if model.facebookUrl}}
    <li>
      <a href="{{model.facebookUrl}}" target="_blank">{{model.title}} Facebook Page</a>
    </li>
  {{/if}}

  {{#if model.twitter}}
    <li>
      <a href="{{model.twitter}}" target="_blank">@{{model.twitter}}</a>
    </li>
  {{/if}}
  </ul>
</section>
