<div id="about-page" class="view--wrapper">
  <h1>{{t 'about.page-title'}}</h1>
  <p>{{t 'about.intro-paragraph'}}</p>
  <h1>{{t 'about.help-title'}}</h1>
  <p>{{t 'about.help-paragraph'}}</p>
  <h1>{{t 'about.get-data-title'}}</h1>
  <p>{{t 'about.get-data-github' githubLink=(t 'about.github')}}</p>
  <p>{{t 'about.get-project-data-link' projectDataLink=(t 'about.projectdata')}}</p>
  <h1>{{t 'about.get-in-touch-title'}}</h1>
  <p>{{t 'about.get-in-touch-macoto' macotoLink=(t 'about.macoto')}}</p>
  <p>{{t 'about.get-in-touch-twitter' twitterLink=(t 'about.twitter')}}</p>
  <h1>{{t 'about.data-sources-title'}}</h1>
  <ul>
    <li>
      <a href="https://www.permaculture.org.uk/people-projects-places/land/map">
        https://www.permaculture.org.uk/people-projects-places/land/map
      </a>
    </li>
    <li>
      <a href="http://permaculturepeopleuk.tumblr.com/itinerary">
        http://permaculturepeopleuk.tumblr.com/itinerary
      </a>
    </li>
    <li>
      <a href="http://www.comuntierra.org/site/index.php">
        Común Tierra Project
      </a>
    </li>
  </ul>
</div>
