<section id="index-page">
  <div class="map-and-list--wrapper">
    {{#if showProjectList}}
      <div class="projects-list--container">
        {{projects-list projects=model on-hover=(action "setLocation")}}
      </div>
    {{/if}}
    {{#leaflet-map
      scrollWheelZoom=false
      lat=mapLocation.lat
      lng=mapLocation.lng
      onMoveend=(action "getProjectsForBounds")
      zoom=this.zoomLevel
      worldCopyJump=true}}
      <button class="button project-list--toggler" {{action "toggleProjectList"}}>
        {{fa-icon "bars"}} Visible Projects
      </button>
      <div class="multibox--wrapper">
        {{#search-box
          search=(action "onSearch")
          searching=(mut isSearching)
          results=(mut searchResults)
          onSelect=(action "selectAddress")
          placeholderText="Search For Projects or Places"
        }}{{/search-box}}
      </div>
      {{tile-layer url=selectedStyle.url detectRetina=DETECT_RETINA}}
      {{#each model as |project|}}
        {{#if project.locationIsPublic}}
          {{#marker-layer lat=project.lat lng=project.lng }}
            {{#project-descriptor project=project}}{{/project-descriptor}}
            {{/marker-layer}}
        {{else}}
          {{#circle-layer location=project.location radius=privacyCircleRadius}}
            {{#project-descriptor project=project}}{{/project-descriptor}}
          {{/circle-layer}}
        {{/if}}
      {{/each}}
    {{/leaflet-map}}
    {{#current-location class="current-location--ember-wrapper" onFind=(action "setLocation")}}{{/current-location}}
  </div>
</section>
