<section class="view--wrapper" id="new-project-page">
  <section class="new-project--wrapper">
    <form name="new-project" onsubmit={{action "addProject"}}>
      <div class="form-input--wrapper">
        <label for="projectTitle">Title:</label>
        {{input
          type="text"
          placeholder="Your Project Name here"
          value=model.title
          id="projectTitle"
        }}
      </div>
      <div class="form-input--wrapper">
        <label for="projectDescription">Description:</label>
        {{textarea
          placeholder="Enter a description here"
          value=model.description
          id="projectDescription"
        }}
      </div>
      <div class="form-input--wrapper">
        <label for="projectLocation">Location:</label>
        {{#search-box
          search=(action "onSearch")
          results=(mut searchResults)
          onSelect=(action "selectAddress")
        }}{{/search-box}}

        {{#if locationData}}
          {{input
            type="text"
            value=locationData.lat
            id="projectLatitude"
          }}
          {{input
            type="text"
            value=locationData.lng
            id="projectLongitude"
          }}
        {{/if}}
        {{input
          type="checkbox"
          checked=model.locationIsPublic
        }}Share location?
      </div>
      <div class="form-input--wrapper">
        <label for="website">Website</label>
        {{input type="url" value=model.url placeholder="https://www.yourproject.com"}}
      </div>
      <div class="form-input--wrapper">
        <label for="facebookUrl">Facebook Page</label>
        {{input type="url" value=model.facebookUrl placeholder="https://facebook.com/yourproject"}}
      </div>
      <div class="form-input--wrapper">
        <label for="twitter">Twitter</label>
        {{input type="text" value=model.twitter placeholder="@yourproject"}}
      </div>
      <div class="form-input--wrapper">
        <button class="button" type="submit">Add {{model.title}} to Perma Projects</button>
      </div>
    </form>
  </section>
{{#leaflet-map
  lat=mapLocation.lat
  lng=mapLocation.lng
  zoom=this.zoomLevel
  onDrag=(action "mapDragging")
  onDragend=(action "updateLocation")
  }}
  {{tile-layer url=url}}
  {{#if isDragging}}
  {{#marker-layer
    lat=centerPoint.lat
    lng=centerPoint.lng
    clickable=false}}
    {{/marker-layer}}
  {{else}}
    {{#if locationData}}
      {{#marker-layer
        lat=locationData.lat
        lng=locationData.lng
        clickable=false}}
      {{/marker-layer}}
    {{/if}}
  {{/if}}
{{/leaflet-map}}
</section>
