<section id="stats-page" class="view--wrapper">
  <h1>{{t 'stats.title'}}</h1>
  <p>{{t 'stats.intro-text'}}</p>
  {{#each model as |stats|}}
    <h2>{{t 'stats.stat.totalProjects'}} - {{stats.totalProjects}}</h2>
    <h2>{{t 'stats.stat.totalUsers'}} - {{stats.totalUsers}}</h2>
    <ul>
    {{#each-in stats.projectsByCountry as |country count|}}
      <li>{{country}} {{count}}</li>
    {{/each-in}}
    </ul>
  {{/each}}
</section>
